# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY= 

# MongoDB Connection String
MONGODB_URI= mongodb+srv://nuhmanvp1_db_user:nuhmanvp@evmdemovote.yegj4zd.mongodb.net/?appName=evmdemovote

# JWT Secret for authentication
JWT_SECRET= 30a2e8164adef09d1f659a54d8d3a2c77929e558fcfdb8a697fd8f717075405d

# App URL (optional, for self-referential links)
APP_URL=
